@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Raleway;
    src: url("./fonts/Raleway/Raleway-Light.ttf");
}

html {
    /* for no scroll bar */
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    color: white;
    font-family: 'Raleway', sans-serif;
}

/* for no scroll bar in chrome */
body::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: rgb(176, 170, 170);
}

::-moz-selection {
    background-color: rgb(176, 170, 170);
}

.anim_gradient {
    background: linear-gradient(90deg, #420478 0%, rgb(28, 16, 97) 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
    -webkit-transition: background-size .5s ease-in-out;
    -moz-transition: background-size .5s ease-in-out;
    -ms-transition: background-size .5s ease-in-out;
    -o-transition: background-size .5s ease-in-out;
}

.link-clicked-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}