@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: RobotoMono;
    src: url("./fonts/Raleway/RobotoMono-Light.ttf");
}

@font-face {
    font-family: RobotoMonoBold;
    src: url("./fonts/Raleway/RobotoMono-Bold.ttf");
}

#name, #project-title {
    font-family: 'RobotoMonoBold', sans-serif;
}

html {
    /* for no scroll bar */
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    color: white;
    font-family: 'RobotoMono', sans-serif;
}

body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
}

/* for no scroll bar in chrome */
body::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: rgb(176, 170, 170);
}

::-moz-selection {
    background-color: rgb(176, 170, 170);
}


.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-clicked-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}

/* #about-pic{
    z-index: ;
} */
  
/* .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('/src/assets/images/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) ; -webkit-transform: translate(-5%,-5%) ; -moz-transform: translate(-5%,-5%) ; -ms-transform: translate(-5%,-5%) ; -o-transform: translate(-5%,-5%) ; }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) ; -webkit-transform: translate(10%,5%) ; -moz-transform: translate(10%,5%) ; -ms-transform: translate(10%,5%) ; -o-transform: translate(10%,5%) ; }
    100% { transform: translate(5%,0) }
} */